.galleryContainer{
    width:100%;
    height:100%;
    /* background-color: #c9184a50; */
    background-color: var(--gallery);
    border-radius: 13px;
    /* padding: 12px; */
    /* color: black; */
    color: var(--gallery-color);
    
    position:absolute;
    top:0;
    left:0;

    overflow:hidden;
}

.heading{
    position:absolute;
    top:30px;
    left:50%;
    margin-top:-5px;
    transform:translateX(-50%);
    font-size:6rem;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Great Vibes", cursive;
    /* font-family: "Waterfall", cursive; */
    font-weight: 500;
    white-space:nowrap;
    overflow:hidden;
    /* color:#ffffff90; */
    z-index:20;
    pointer-events: none;

    display:flex;
    flex-direction:column;
    align-items:center;
}
/* span{
    font-weight: 100;
} */

.message1{
    /* background-color: #ffe5ec; */
    background-color: var(--message);
    /* border: 2px solid #80008070; */
    border-radius: 10px;
    height: 80px;
    width: 670px;
    margin-top: 15px;
    
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0;
}
.message1Title{
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: -7px;
    font-family: "Charm", cursive;
    font-size: 20px;
    font-weight: 600;
    /* background-color: blue; */
}
.message1Content1{
    margin-top: 0;
    margin-bottom: -5px;
    font-family: "Charm", cursive;
    /* font-family: "Dancing Script", cursive; */
    font-size: 18px;
    letter-spacing: 1px;
    
    /* background-color: brown; */
}
.message1Content2{
    margin-top:0;
    font-family: "Charm", cursive;
    /* font-family: "Dancing Script", cursive; */
    font-size: 18px;
    letter-spacing: 1px;
}



.message2{
    /* background-color: #ffe5ec; */
    background-color: var(--message);
    border-radius: 10px;
    height: 80px;
    width: 600px;
    margin-top: 15px;
    padding: 0;
    
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0;
}
/* .message2 p{
    margin: 0;
    
} */
.message2Title{
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Special Elite", system-ui;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 600;
    /* background-color: green; */
}
.message2P1{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Special Elite", system-ui;
    font-size: 15px;
    /* background-color: blue; */
}
.message2P2{
    margin-top:4px;
    font-family: "Special Elite", system-ui;
    font-size: 20px;
}


.photoArea{
    background: transparent;
    width:100%;
    height:100%;
    z-index: 21;
    position: absolute;
}

img{
    width:100%;
    height:100%;
}