.parent{
    height: 272px;
    width: 220px;

    transform-origin:top center;
    position:relative;
}
.wrapper{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vinyl{
    z-index: 14;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* margin-right: 32px; */
    /* background-color: red; */
    height: 220px;
    width: 220px;
    
}

.outerDisc{
    background-color: black;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    /* transition: transform 0.5s ease; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index:11;
}

.grooves{
    background-color: black;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    background: repeating-radial-gradient( circle, #111 0px, #111 2px, #222 3px, #111 4px);
    border: 2px solid #e0dbc7;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @keyframes spin{
    to{
        rotate: 1turn;
    }
}

.outerDisc:hover{
    animation: spin 7s linear infinite;
    transform: scale(1.03);
} */


.innerCircle1{
    background-color: #222;
    border: 20px solid #111;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 100%;
}
.img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.vinylTitle{
    width: 220px;
    /* width:100%; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 1px 0 0 14px;
}
.vinylTitle h2{
    width:100%;
    margin: 0;
    text-align:center;
}
.vinylTitle p{
    width:220px;
    text-align:center;
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */

    mask-image: linear-gradient(
        to right,
        black 80%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to right,
        black 80%,
        transparent 100%
    );
}


/* ---------- Large Laptop ---------- */

@media (max-width:1200px){

    .parent{

        transform:scale(.92);
        transform-origin:top center;

        width:220px;
        height:250px;

    }

}


/* ---------- Tablet ---------- */

@media (max-width:900px){

    .parent{

        /* transform:scale(.9); */

        transform:scale(.82);
        transform-origin:top center;

        width:220px;
        height:220px;

    }

}


/* ---------- Mobile ---------- */

@media (max-width:600px){

    .parent{

        /* transform:scale(.9); */

        transform:scale(.72);
        transform-origin:top center;

        width:220px;
        height:190px;

    }

}
