body{
  background-color: pink;
}

.mainContainer{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 40px;
  /* flex-direction: row; */

}

.contentArea{
  background-color: pink;
  margin: 10px;
  padding: 12px;
  height: 90vh;
  width: 58vw;
  border-radius: 15px;
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
  column-gap: 30px; */
  align-items: center;
  justify-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  overflow: visible;
  position: relative;

}
.songContainer1{
  background-color: #cdb4db;
  border: 2px solid #9e005950;
  /* margin: 10px; */
  padding: 12px;
  height: 90vh;
  width: 58vw;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
  column-gap: 30px;
  align-items: start;
  justify-items: center;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  overflow: visible;
  position: absolute;
  
}
/* .songContainer1, .songContainer2{
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 90vh;
  width: 30vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
} */

.galleryVisible{
  background-color: pink;
  /* background-color: #c9184a70; */
  border: 2px solid #9e005990;
  /* margin: 10px; */
  padding: 12px;
  height: 90vh;
  width: 58vw;
  border-radius: 15px;
  align-items: start;
  justify-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  overflow: visible;
  position: absolute;
  top:0;
  left:0;

  opacity: 1;
  pointer-events: auto;
  transition: all 3s ease;
}

.songContainerHidden{
  background-color: #cdb4db;
  border: 2px solid #9e005950;
  /* margin: 10px; */
  padding: 12px;
  height: 90vh;
  width: 58vw;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
  column-gap: 30px;
  align-items: start;
  justify-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  overflow: visible;
  position: absolute;
  top:0;
  left:0;

  opacity: 0;
  pointer-events: none;
  transition: all 3s ease;
}

.galleryHidden{
  background-color: red;
  border: 2px solid #9e005950;
  /* margin: 10px; */
  padding: 12px;
  height: 90vh;
  width: 58vw;
  border-radius: 15px;
  align-items: start;
  justify-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  overflow: visible;
  position: absolute;
  top:0;
  left:0;

  opacity: 0;
  pointer-events: none;
  transition: all 3s ease;
}


 .rightPanel{
  margin-left: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
 }

 .gallerySwitch{
  height: 38px;
  width: 212px;
  /* padding-top: 1px; */
  padding-bottom: 0;
  background-color: #9e005950;
  border:none;
  border-bottom: 3px solid #89023e80;
  border-radius: 10px;
  color:#3b2b14;
  /* background-color: #af2bbf90; */
  
  cursor: pointer;

  font-size:19px;
  font-family:"Special Elite", system-ui;
  /* letter-spacing:1px; */

  box-shadow: 0 8px 10px rgba(0,0,0,.15);
  transition:all 0.3s ease;
 }

 .gallerySwitch:hover{
  background-color: #9e005970;
  /* background-color: #f0808090; */
  transform:
      translateY(-2px)
      scale(1.07);
 }

 .gallerySwitch:active{

    transform:
        translateY(2px)
        scale(1);

}
